$icomoon-font-family: "tdIcon" !default;
$icomoon-font-path: "fonts" !default;

$tdIcon-attack-range: "\e90c";
$tdIcon-attack-rate: "\e904";
$tdIcon-battle-uses: "\e905";
$tdIcon-damage-blast: "\e906";
$tdIcon-damage-duration: "\e907";
$tdIcon-damage-sword: "\e909";
$tdIcon-damage-type: "\e908";
$tdIcon-double-damage: "\e90a";
$tdIcon-dps: "\e900";
$tdIcon-duration: "\e90b";
$tdIcon-hearts: "\e901";
$tdIcon-higher-chance-of-critical-hit: "\e90d";
$tdIcon-immobilize: "\e90e";
$tdIcon-increase-attack-by: "\e90f";
$tdIcon-increase-chance-of-fiend-souls: "\e910";
$tdIcon-increase-speed-by: "\e911";
$tdIcon-make-fiends: "\e912";
$tdIcon-mana-regeneration-rate: "\e913";
$tdIcon-more-refund-when-selling-tower: "\e914";
$tdIcon-number-of-fiends-hit: "\e915";
$tdIcon-number-of-fiends-to-convert-to-bring-to-your-team: "\e916";
$tdIcon-poison: "\e918";
$tdIcon-poison-duration: "\e917";
$tdIcon-reduce-cost-of-mana: "\e919";
$tdIcon-reduce-health: "\e91a";
$tdIcon-reduce-magic-resistance-by: "\e91b";
$tdIcon-seconds: "\e902";
$tdIcon-slowdown: "\e91d";
$tdIcon-slowdown-duration: "\e91c";
$tdIcon-target-fiends: "\e920";
$tdIcon-towers: "\e903";
$tdIcon-uses: "\e91e";
$tdIcon-variant: "\e91f";
$tdIcon-random-spell: "\e921";
$tdIcon-faster-spawn: "\e922";
$tdIcon-more-spawn: "\e923";
$tdIcon-ability-interval: "\e924";
$tdIcon-damage-multiplier: "\e925";
$tdIcon-soul-token: "\e926";
$tdIcon-physical-res: "\e927";
$tdIcon-magical-res: "\e928";
$tdIcon-random-tower: "\e929";
$tdIcon-less-mana: "\e92a";
$tdIcon-melee-damage: "\e92b";
$tdIcon-stronger-damage: "\e92c";
$tdIcon-immune-to-imobilization: "\e92d";
$tdIcon-speed: "\e92e";
$tdIcon-backslide-duration: "\e92f";
$tdIcon-ranged-damage: "\e930";
$tdIcon-melee: "\e931";
$tdIcon-lock-on-damage: "\e932";
$tdIcon-higer-hp: "\e933";
$tdIcon-ranged: "\e934";
$tdIcon-add-mana: "\e935";
$tdIcon-hit-points: "\e936";
$tdIcon-fatigue: "\e937";

